<section class="about">
    <div class="container">
        <img src="/images/profile.png" alt="Profil">
        <div class="text">
            <h2>Bienvenue !</h2>
            <p class="mt-5">Depuis toujours, j’ai un amour profond pour l’image et le son. Mon parcours dans l’audiovisuel est le fruit d’une grande détermination et d’un apprentissage constant. Que ce soit derrière une caméra, à la régie ou dans la conception sonore, je cherche toujours à donner vie à des émotions à travers mes réalisations.</p>
            <a routerLink="/about"><button class="cta">En savoir plus</button></a>
        </div>
    </div>
</section>
